MARIADB_ROOT_PASSWORD=troque_esta_senha_forte
MARIADB_DATABASE=banco_inicial

PHPMYADMIN_PORT=8080
FILEBROWSER_PORT=8083

# Deve ser o mesmo nome usado nas stacks PHP/Node/NPM
DOCKER_NETWORK=rede-banco-global

# Linux VPS: ajuste para o usuario/grupo corretos (ex.: 1000/1000)
FILEBROWSER_PUID=501
FILEBROWSER_PGID=20
