PHP_VERSION=8.2
PHP_RUNTIME_PORT=8082

DOCKER_NETWORK=rede-banco-global

DB_DRIVER=mysql
DB_HOST=mariadb_global
DB_DATABASE=gpsjundi_bdgsfacil
DB_USER=root
DB_PASS=troque_esta_senha

# Local
APP_BASE_URL_APP=http://localhost:8082/app/
APP_BASE_URL_APP_NF=http://localhost:8082/app_nf/
APP_BASE_URL=http://localhost:8082/app_sistema/
APP_BASE_URL_NEW=http://localhost:8082/gsfacilfront/public/
APP_BASE_URL_PEOPLECONTACTS=http://localhost:8082/peoplecontacts/
APP_BASE_URL_GALLOSOUNDSITE=http://localhost:8082/gallosoundsite/

# Produção: preencher somente se o projeto usar Google Contacts
GOOGLE_CONTACTS_CLIENT_ID=
GOOGLE_CONTACTS_CLIENT_SECRET=
GOOGLE_CONTACTS_REFRESH_TOKEN=
